.dropdown {
    background-color: yellowgreen;
    height: 200px;
    width: 200px;

}

label {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

select {
    font-size: large;
    font-weight: 200;

}