#menus {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

.label {
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 500;
}

.dropdown-left {
    width: 200px;
    margin-left: 2cm;
}

.dropdown-right {
    width: 200px;
    margin-right: 2cm;
}

select {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 500;
    cursor: pointer;
}

