// @import url(./styles/dropdown_1.scss);
// @import url(./styles/dropdown_2.scss);
@import url(./styles/menus.scss);
@import url(./styles/characteristics.scss);
@import url(./styles/charts.scss);
@import url(./styles/modal.scss);
@import url(./styles/header.scss);

body {
    background-color: rgba(62, 138, 159, 0.202);
    width: 100vw;
    height: 100vh;
    overflow: auto;
    position: relative;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}
